body{
  background-image: url(https://miro.medium.com/max/2625/0*wQZ7KwhBKZZP7b6a.jpg);
}
h1{
  color: violet;
}
h2
{
  color: green;
}
h3
{
  color: #6700b0;
}
h2{
  color: green;
}

p
{
  color: red;
}
